<turbo-frame id="user-search-turbo">
  <% if !@users.empty? %>
  <% @users.each do |user| %>
    <div class="search-res-user">
        <div class="search-res-user-icon">
            <img src="<%= user_icon_url(user) %>">
        </div>
        <div class="search-res-user-name">
            <p><%= user.name %></p>
        </div>
        <div class="search-res-user-relationship">
          <% if current_user != user %>
            <button><%= render "relationships/btn", user: user, search: @search, options: { class: ""} %></button>
          <% else %>
            <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        </div>
    </div>
  <% end %>
  <% else %>
    <p>ユーザーが見つかりませんでした。</p>
  <% end %>
</turbo-frame>