<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
<% end %>

<div id="map-container">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgixBC-unxRTH-NrxJ3eF14qzKMIPGp2c&callback=initMap&v=weekly" defer></script>
  <script src="../../javascript/map.js" type="module"></script>
  
  <div id="map" style="height: 100%; width: 100%;"></div>

  <div id="sidebar">
    <div class="current-post-wrapper">
      <h2 class="current-posts">最近の投稿</h2>
      <div class="current-post-container">
        <img src="#",alt="ポスト１" class="post">post1</img>
        <img src="#",alt="ポスト２" class="post">post2</img>
        <img src="#",alt="ポスト３" class="post">post3</img>
        <img src="#",alt="ポスト４" class="post">post4</img>
      </div>
    </div>
  </div>

  <div class="menuButton" onclick="toggleMenu()">☰</div>
  <div id="menuPanel" class="menu-hidden"></div>

  <div id="logo">
    <p>My</p>
    <p>landscape</p>
  </div>

  
</div>