<turbo-frame id="imageShow">
  <div id="popup-view-content" class="popup-view-content">
    <img id="popup-view-image" class="popup-view-image" src="<%= rails_blob_path(image.post_image, only_path: true) %>" alt="Popup Image" onclick="closeViewPopupFunc()">
  </div>
  <div class="popup-view-review-content">
    <div class="popup-view-like" id="popup-view-like">
      <div id="turboLikeButton">
        <%= link_to "/images/destroy/#{image.id}", method: :delete, class: 'goodButtonImage', local: true, data: { turbo_method: :delete } ,  onclick: "redirectToUrl('/');"  do %>
          <%= image_tag (asset_path('goodCancelButton.png')), class: 'popup-view-image', id: 'popup-view-image' %>
        <% end %>
      </div>
    </div>
    <div class="popup-view-comment">
      <p id="popup-view-comment-p"><%= image.comment %></p>
    </div>
  </div>
</turbo-frame>
